html {
  font-family: "Roboto Condensed",sans-serif;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}

.header {
  position: fixed;
  background: white;
  top: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  z-index: 10;
}

.header__body {
  padding: 10px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__title {

}

.header__subtitle {
  font-size: 14px;
  margin-top: -5px;
}

.header__subtitle-delimeter {
  display: none;
}

.header__logo {
  font-weight: 700;
  color: #eb3a39;
  font-size: 38px;
}

.header__logo--white {
  color: #2c2c2c;
}

.header__hamburger {
  cursor: pointer;
  border: none;
  background: url(../assets/menu.svg);
  background-size: contain;
  height: 45px;
  width: 45px;
  outline: none;
  margin-top: 5px;
}

.header__menu {
  position: fixed;
  width: 100%;
  background: #2c2c2c;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.header__menu--shown {
  /* max-height: 80%;
  height: auto; */
  max-height: 200px;
}

.header__menu-list {
}

.header__menu-item {
  text-transform: uppercase;
}

.header__menu-item div {
  padding: 15px;
}

.header__menu-item a {
  color: white;
  text-decoration: none;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.1); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.phone {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: #eb3a39;
  padding: 15px;
  border-radius: 50%;
  z-index: 2;

  animation-name: pulse_animation;
  animation-duration: 3000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.form-full {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 100;

  transition: 300ms all ease-in;
  transform: translate(0, 100vh);
}

.form-full--on {
  transform: translate(0, 0);
}

.form-full--shown {
  display: block;
}

.form-full__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #2c2c2c;
  color: #fff;
}

.form-full__title {
  font-size: 22px;
}

.form-full__close {
  background: url(../assets/close.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
}

.main {
  padding-top: 100px;
}

.section {
  padding: 15px;
}

.section__subcontainer {
  padding-top: 10px;
}

.section__subtitle {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}

.section + .section {
  border-top: 1px solid #ccc;
}

.section__title {
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.section__title-container {
  background: #2c2c2c;
  padding: 10px;
  margin: 0 -15px;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
}

.section__title-line {
  width: 70%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.section__subdelimeter {
  margin-top: 40px;
  width: 70%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2f2f2f, rgba(0, 0, 0, 0));
}

.carousel {
  margin: 15px 0;
}

.carousel-container {
}

.carousel-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  outline: none;
  padding: 10px 10px 20px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.carousel-item.slick-current {
  opacity: 1;
  transform: scale(1);
}

.carousel-item__image {
  max-width: 100%;
}

.carousel-item__name {
  margin-top: 15px;
  font-weight: 700;
  font-size: 22px;
}

.carousel-item__price {
  margin-top: 10px;
  font-size: 18px;
}

.carousel-item__button {
  margin-top: 10px;
  background: #2c2c2c;
  border: none;
  color: white;
  padding: 10px;
  font-size: 22px;
  min-width: 160px;
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  color: #2c2c2c !important;
}

.desc {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.desc--shown {
  opacity: 1;
  max-height: inherit;
  overflow: auto;
}

.desc__body {
  padding: 15px;
}

.desc__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
}

.desc__button {
  display: none;
  position: absolute;
  bottom: 20px;
  background: #2c2c2c;
  border: none;
  color: white;
  padding: 10px;
  font-size: 22px;
  min-width: 160px;
  outline: none;
}

.desc--shown .desc__button {
  display: block;
}

@media screen and (max-width: 480px) {
  .carousel-item {
    opacity: 0.8;
    transform: scale(0.95);
  }

  .carousel {
    margin: 15px -15px;
  }

  .header__subtitle-delimeter {
    display: block;
  }
}

.red {
  color: #eb3a39;
}